
<div class="container">
  <div class="row">
    <div class="col-8 col-offset-2">
      <p> Welcome to WeBWorK.  Select the course below:
        <ul>
          [% foreach course in courses %]
          <li> <a href="[% top_dir %]/courses/[%course %]/login">[% course %]</a></li>
          [% end %]
        </ul>
      </div>
    </div>
  </div>
