
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p> You have successfully logged out of the course.  You may want to:
        <ul><li>Close the window</li>
          <li>Relogin to the course: <a href="[% top_dir %]/courses/[%course_id %]/login">[% course_id %]</a></li>
          <li>Return to the <a href="[% top_dir %]/courses">list of courses</a></li>
        </ul>
      </div>
    </div>
  </div>
